################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/imminent.win/Stable build/Intermediate
