################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/imminent.win/Stable build/Intermediate
/imminent.win/.vs/imminent.win
/ps3/cod/ghosts/.vs/Imminent Client/v17
/ps3/cod/ghosts/Ghosts_RetroClient/PS3_Release
/ps3/cod/ghosts/Ghosts_RetroClient/PS3_Debug
/ps3/cod/ghosts/PS3_Release
/ps3/cod/ghosts/PS3_Debug
/csgo/2018/.vs/2018/v17
csgo/2018/Stable build
csgo/2018/x64/Stable build
csgo/2018/Debug loader
/cod/bo2/plutonium/Debug
/imminent.win/Stable build
